body {
    margin: 0px auto;
    background: #FAFAFA;
    font-family: 'Raleway', sans-serif;

}

header {
    background: #ccd0d7;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}


h1 {
    color: white;
    justify-content: center;
    text-align: center;

}

.cards {
    flex-wrap: wrap;
    margin: 0px auto 90px;
    border-spacing: 10px 5px;
    display: flex;
    font-weight: 300;
    justify-content: center;
    line-height: 22px;
}

article {
    height: 100%;
    width: 326px;
    margin: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 8px 6px -6px gray;
}

img {
    width: 100%;
}

h2 {
    font-weight: 600;
    font-size: 27px;
    margin: 15px;
    color: black;
}

p {
    font-weight: 200;
    margin: 0px;
    color: black;
}


.header {
    margin-top: 10px;
    display: flex;
    -webkit-transition: height 200ms ease-in;
    -moz-transition: height 200ms ease-in;
    -o-transition: height 200ms ease-in;
    transition: height 200ms ease-in;
}

.header p {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.header p {
    flex-grow: 3;
}

.header button {
    flex-grow: 3;
    padding: 8px 10px;
    margin: 10px;
    background: #43276e;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.hidden,
.hidden p {
    /*display: none;*/
    font-size: 0px;
    height: 0px;
    padding: 10px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.show,
.show p {
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    height: 14em;
    font-size: 0.9em;
    text-align: justify;

}
